.App {
    background-color: rgba(14, 57, 177, 0.418);
    width: 400px;
    min-height:400px;
     border-radius:10px;
     padding: 20px;
     border: 1px solid #3d3d3d;
     position: relative;
  }

.App h1 {

  text-align: center;
}
.App .inputadd {
  position: absolute;
  bottom: 20px;
  width:90%;
  height:35px;
  display: flex;
  justify-content: space-between;

}

.inputadd input {
  width:85%;
  padding-left:10px;
  height:35px;
}
.inputadd button{
  height:41px;
  width: 41px;
  background-color: teal;
  border: none;
  border-radius: 5px;
  color: rgb(14, 57, 177);
  font-weight:500;
  font-size:17px;
}
.inputadd button:hover{
  background-color: rgb(9, 143, 143);

}